<h3 class="title">Processed Supplier Orders</h3>

<% if (orders.length==0) { %>
<div class="row">
    <div class="col-md-10 mt-4">
        <div class="col-12">
            <div class="card my-4">

                <div class="card-body px-0 pb-2">
                    <h6 class="title"> No Supplier Orders Available</h6>
                </div>
                <div class="card-footer">

                </div>
            </div>
        </div>
    </div>
</div>
<% } else { %>
<div class="row">
    <div class="col-12">
        <div class="card my-4">

            <div class="card-body px-0 pb-2">
                <div class="table">
                    <table class="table">
                        <thead class="text-primary">
                            <tr>
                                <th>
                                    Order ID
                                </th>
                                <th>
                                    Order Date</th>
                                <th>
                                    Amount paid</th>

                            </tr>
                        </thead>
                        <tbody>
                            <% for( let i = 0; i < orders.length; i++ ) { %>
                            <% var element=orders[i] %>
                            <tr>
                                <td>
                                    <h6 class="mb-0 text-sm"><%= element.order_no %></h6>
                                </td>
                                <td>

                                    <% var t=element.order_date %>
                                    <% var d=new Date(t) %>
                                    <%= d.toDateString()+' '+d.toLocaleTimeString() %>

                                </td>
                                <td>
                                    <p class="text-s text-success font-weight-bold mb-0">Rs <%= element.sub_total %>
                                    </p>
                                </td>
                                <!-- <td class="align-middle">
                                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs"
                                        data-toggle="tooltip" data-original-title="Edit user">
                                        Edit
                                    </a>
                                </td> -->
                            </tr>
                            <% } %>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
<% } %>

<script>
    const pageIndicator = document.getElementById('orders');
    pageIndicator.classList.add('active');
</script>