<h3 class="title">Supplier Operations</h3>
<div class="card">
    <div class="card-header">
        <div class="col-lg-12">
            <div class="nav-wrapper">
                <ul class="nav nav-tabs nav-tabs-primary " role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active " data-bs-toggle="tab" href="#home" role="tab" aria-selected="true">

                            <span class="ms-1">Suppliers</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " data-bs-toggle="tab" href="#menu2" role="tab" aria-selected="false">

                            <span class="ms-1">Add Supplier</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="tab-content">
            <div id="home" class="tab-pane active">
                <div>
                    <h6 class="title">All Suppliers</h6>
                </div>
                <!-- <div class="table"> -->
                <div class="table">
                    <table class="table">
                        <thead class="text-primary">
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Address</th>
                                <th>
                                    Contact No</th>
                                <th>
                                    E-mail</th>

                            </tr>
                        </thead>
                        <tbody>
                            <% for( let i = 0; i < suppliers.length; i++ ) { %>
                            <% var element=suppliers[i] %>
                            <tr>
                                <td>
                                    <%= element.name %>

                                </td>
                                <td>
                                    <%= element.address %>

                                </td>
                                <td>
                                    <%= element.ph_no %>

                                </td>
                                <td>
                                    <%= element.email %>

                                </td>
                                <!-- <td class="align-middle">
                                        <a href="javascript:;" class="text-secondary font-weight-bold text-xs"
                                            data-toggle="tooltip" data-original-title="Edit user">
                                            Edit
                                        </a>
                                    </td> -->
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>
                <!-- </div> -->
                <br>

            </div>

            <div id="menu2" class="tab-pane">
                <div>
                    <h6 class="title">Supplier Details</h6>
                </div>
                <form method="post" action="/NegomboHardware/stocks/addSupplier">
                    <fieldset>
                        <!-- <legend>Add new Item</legend> -->
                        <div class="form-group input-group-outline mb-3">
                            <label for="name">Supplier Name</label>
                            <input type="text" id="name" name="name" class="form-control">
                        </div>
                        <div class="form-group input-group-outline mb-3">
                            <label for="mobile">Mobile no</label>
                            <input type="text" id="mobile" name="mobile" class="form-control">
                        </div>
                        <div class="form-group input-group-outline mb-3">
                            <label for="address">Address</label>
                            <input type="text" id="address" name="address" class="form-control">
                        </div>
                        <div class="form-group input-group-outline mb-3">
                            <label for="email">email</label>
                            <input type="email" id="email" name="email" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>




<button data-bs-toggle="modal" data-bs-target="#restock" style="display: none;" id="restockModal"></button>


<div class="modal logout fade" id="restock" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Place Inventory Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="restockbody">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="restockConfirm">Confirm Order</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<script>
    const pageIndicator = document.getElementById('suppliers');
    pageIndicator.classList.add('active');
</script>