<div class="row">

    <div class="col-11">
        <div class="card ">
            <div class="card-header ">
                <!-- <div class="bg-gradient-success shadow-primary border-radius-lg pt-4 pb-3">
                    <h3 class="text-white text-capitalize ps-3"></h3>
                </div> -->
                <h3 class="title">Good Day <%= user_name %> !</h3>

            </div>
            <div class="card-body">
                <div class="ms-md-auto pe-md-3 d-flex align-items-center">
                    <!-- <div class="input-group input-group-outline">
                        <label class="form-label">Type here...</label>
                        <input type="text" class="form-control" id="searchTxt">
                    </div> -->
                    <div class="input-group no-border">
                        <input type="text" value="" class="form-control" placeholder="Search..." id="searchTxt">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <i class="nc-icon nc-zoom-split"></i>
                            </div>
                        </div>
                    </div>
                    <br>
                </div>
                <br>
                <div>
                    <button type="button" class="btn btn-primary" id="prdSearch">Search Products</button>
                </div>
                <hr class="dark horizontal my-0">
                <br>

            </div>
            <div class="card-footer p-3"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-11">
        <div id="dynamicContent">

        </div>
    </div>
</div>