<h3 class="title">Processed Customer Orders</h3>
<div class="row">
    <div class="col-12">

        <div class="card my-4">

            <div class="card-body px-0 pb-2">
                <div class="table">
                    <table class="table">
                        <thead class="text-primary">
                            <tr>
                                <th>
                                    Order ID
                                </th>
                                <th>
                                    Order Date</th>
                                <th>
                                    Amount paid</th>

                            </tr>
                        </thead>
                        <tbody>
                            <% for( let i = 0; i < orders.length; i++ ) { %>
                            <% var element=orders[i] %>
                            <tr>
                                <td>
                                    <h6 class="mb-0 text-sm"><%= element.order_no %></h6>
                                </td>
                                <td>
                                    <!-- <span class="text-secondary text-xs font-weight-bold"> -->
                                    <% var t=element.order_date %>
                                    <% var d=new Date(t) %>
                                    <%= d.toDateString()+' '+d.toLocaleTimeString() %>
                                    <!-- </span> -->
                                </td>
                                <td>
                                    <p class="text-s text-success font-weight-bold mb-0">Rs <%= element.sub_total %></p>
                                </td>
                                <!-- <td class="align-middle">
                                    <a href="javascript:;" class="text-secondary font-weight-bold text-xs"
                                        data-toggle="tooltip" data-original-title="Edit user">
                                        Edit
                                    </a>
                                </td> -->
                            </tr>
                            <% } %>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>